body{
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 64px 1fr;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main";
    min-height: 100vh;

}

.navbar{
    grid-area: navbar;
    background-color: var(--indigo-escuro);
    /* justify-content: space-between; */
    height: 64px;
    
}

.navbar-content{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 var(--espaco-m);
}

.user-area{
    
}

.sidebar{
    grid-area: sidebar;
    width: 240px;
            
}

.dashboard-content{
    grid-area: main;
}

<<<<<<< HEAD
img{
    border-radius: 10%;
}
=======
.main-calls{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.calls{
    gap: var(--espaco-s)
    
}

.status{
    display: flex;
    justify-content: space-between;
}
>>>>>>> 158eb51 (main dash)
