body{
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 64px 1fr;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main";
    min-height: 100vh;

}

.navbar{
    grid-area: navbar;
}

.navbar-content{
    background-color: var(--indigo-primario);
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 100%;
    width: 100%;
    padding: 0 var(--espaco-m);
}

.user-area{
    display: flex;
    padding: var(--);

}

.aside > ul{
    padding: var(--espaco-s);
    margin: var(--espaco-s);
}


.sidebar{
    grid-area: sidebar;
}

.dashboard-content{
    grid-area: main;
    background-color: var(--cor-backgroundgeral);
}

.main-calls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--espaco-m);
    margin: var(--espaco-xl);
    
}

.calls{
    gap: var(--espaco-s);
    background-color: var(--cor-cards);
    padding: var(--espaco-xxl);
    border: 2px solid var(--borda-sutil);
    border-radius: var(--raio-padrao);
}

.status{
    display: flex;
    justify-content: space-between;
    background-color: var(--borda-sutil);

}


