*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    font-family: var(--fonte-corpo);
    background-color: var(--cor-cards);
}

.sidebar {
    min-height: 100vh;
    padding: var(--espaco-xxl);
    background-color: var(--indigo-escuro);
    color: var(--cor-cards);

    display: grid;
    grid-template-rows: 1fr auto;
}

.sidebar-content{
    align-self: start;
    margin-top: var(--espaco-xxl);
    max-width: 26rem;
}

.sidebar h2 {
    font-family: var(--fonte-titulo);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: var(--espaco-xl);
}

.sidebar h3 {
    font-family: var(--fonte-corpo);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--branco-85);
    margin-bottom: var(--espaco-l);
}

.sidebar ul {
    list-style: none;
    display: grid;
    gap: var(--espaco-m);
}

.sidebar li {
    font-size: 0.9375rem;
    color: var(--cor-cards);
}

.sidebar footer {
    font-size: 0.8125rem;
    color: var(--branco-60);
}

.login {
    min-height: 100vh;
    padding: var(--espaco-l);

    display: grid;
    place-items: center;

    background-color: var(--cor-cards);
}

.login-box {
    width: 100%;
    max-width: 24rem;
}

.login h1 {
    font-family: var(--fonte-titulo);
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--textos-gerais);
    margin-bottom: var(--espaco-s);
}
